//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-4 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Sat 12 16 01:48:30 2023

IO_LOC "lg" 79;
IO_PORT "lg" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "lf" 80;
IO_PORT "lf" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "le" 81;
IO_PORT "le" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "ld" 82;
IO_PORT "ld" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "lc" 83;
IO_PORT "lc" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "lb" 84;
IO_PORT "lb" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "la" 85;
IO_PORT "la" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=1.8;
IO_LOC "i0" 25;
IO_PORT "i0" PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "i1" 26;
IO_PORT "i1" PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "i2" 27;
IO_PORT "i2" PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "i3" 28;
IO_PORT "i3" PULL_MODE=DOWN BANK_VCCIO=1.8;
